div#searchBar {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 5px;
  background-color: white;
  z-index: 2;
}

div#content {
  margin-top: 80px;
}

.topbar {
  overflow: hidden;
}

.topbar-left {
  float: left;
  margin-left: 20px;
}

.topbar-right {
  float: right;
  padding-right: 20px;
}

.topbar-bottom {
  padding-top: 5px;
  margin-left: 20px;
}

div.table-header {
  width: calc(100% - 16px);
}

table.table-container {
  border-collapse: collapse;
  border: 1px solid #c2c2e7;
  width: 100%;
  font-size: 14px;
  table-layout: fixed;
}

table.table-container th {
  text-align: center;
  border: 1.5px solid #888;
  background-color: #ffff88;
  padding: 1px 1px 1px 1px;
}

table.table-popup {
  width: auto;
  table-layout: auto;
}

.clickable {
  cursor: pointer;
}

table.table-container td {
  padding: 4px 8px 4px 4px;
  border: 1px solid #c2c2e7;
  vertical-align: center;
}

table.table-container td.img {
  padding: 1px 0px 0px 0px;
}

td.number {
  text-align: right;
}

table.table-container tbody tr:hover, table.table-container tbody tr:active {
  background-color: #eeeeee;
}

table.table-terrain {
  font-size: 12px;
  width: auto;
  table-layout: auto;
}

table.table-terrain th.terrain-name {
  min-width: 70px;
  max-width: 70px;
  overflow: hidden;
  text-overflow: clip;
}

table.table-terrain td.terrain-val {
  min-width: 56px;
  max-width: 56px;
  text-align: right;
}

table.table-terrain td {
  padding: 4px 8px 4px 8px;
}

label.terrain-name {
  display: inline-block;
  min-width: 130px;
}

.statAtk { color: #df0000; }
.statWis { color: #ff9a00; }
.statDef { color: #0040ff; }
.statAgi { color: #ffed00; }
.statMrl { color: #a03eff; }
.statHp  { color: #00ff2f; }
.statMp  { color: #40f0f0; }
.statSpd { color: Cyan; }

table.atkShape {
  border-collapse: collapse;
  border: 2px solid black;
  background-color: #eeeeee;
  table-layout:fixed;
}

table.atkShape td {
  width: 13px;
  height: 13px;
  border: 1px solid #555555;
}

table.atkShape td.mark {
  background-color: #ff8888;
}

table.atkShape td.central {
  background-color: #ff4444;
  border: 1px solid #333333;
}

table.stats {
  border-collapse: collapse;
  border: 1px solid black;
}

table.stats th {
  border: 1px solid black;
  background: #cccc44;
  padding-left: 3px;
  padding-right: 3px;
}

table.stats td {
  border: 1px solid black;
  text-align: center;
}

p.header {
  font-size: 17px;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
}

.info {
  float: right;
  cursor: pointer;
  color: DodgerBlue;
}

table.bFormation {
  border-collapse: collapse;
  font-size: 14px;
  width: auto;
  table-layout: auto;
}

table.bFormation td {
  border: 1px solid #c2c2e7;
  background-color: #ffffdd;
  vertical-align: center;
  text-align: center;
  width: 20px;
  height: 20px;
}

table.bFormation td.front {
  border: 1px solid #0000ff;
  background-color: rgba(0, 0, 255, 0.4);
}

table.bFormation td.middle {
  border: 1px solid #ff8c00;
  background-color: rgba(255, 140, 0, 0.4);
}

table.bFormation td.rear {
  border: 1px solid #ff0000;
  background-color: rgba(255, 0, 0, 0.4);
}

table.bFormation td.space {
  border: none;
  background-color: white;
  width: 10px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.tag {
  font-size: 12px;
  padding: .4em .5em .5em;
  margin: 0 .1em;
  background-color: DodgerBlue;
  border: 1px solid #888;
}

.tag-ut { /* for unit types */
  background-color: #6666ff;
}

.tag-p { /* for passives */
  background-color: #66ff66;
}

.tag-close {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.tag-close:hover,
.tag-close:focus {
  color: red;
  cursor: pointer;
}

.float-button {
  position: fixed;
  left: 0px;
  top: 6px;
  z-index: 5;
  margin: 0;
  padding: 0;
}

.float-button button {
  background-color: #111;
  color: #aabbcc;
  border: none;
  font-size: 18px !important;
  font-family: Verdana,sans-serif;
  padding: 4px 4px 4px 2px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 40px;
}

.sidenav a {
  padding: 6px 8px 6px 12px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

div.listhdr {
  padding: 3px 0px 0px 2px;
  width: 450px;
  font-size: 13px;
  font-weight: bold;
  border-top: 1.5px solid #888;
  border-bottom: 1.5px solid #888;
  background-color: #ffff88;
}

.block {
  display: inline-block;
  vertical-align: top;
}

div.listhdr span {
  display: inline-block;
  text-align: center;
}

ul.list {
  height: 400px;
  width: 450px;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0px 0px 0px 2px;
  margin: 0;
}

ul.list li {
  display: flex;
  flex-direction: row;
  padding: 1px 0 1px 0;
  border-bottom: 1px solid #c2c2e7;
  font-size: 14px;
  cursor: pointer;
}

ul.list li:hover {
  background-color: #eeeeee;
}

ul.list li span.text {
  padding: 5px 0 0 5px;
}

span.btnChkbox {
  -webkit-display: inline-flex;
  display: inline-flex;
  flex-wrap: nowrap;
  color:#333;
  border: 1px solid #CCC;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
  cursor: pointer;
  width: 100px;
  height: 36px;
  padding: 0 1px 0 2px;
  align-items: center;
}

span.btnActive {
  background-color: #666;
  color: white;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5) inset;
}

.btnTxtOnly {
  margin: 0;
  padding: 0;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}

.condBtnTxt {
  margin-left: 3px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.passiveSubText {
  margin-left: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.subPassiveBlock {
  font-size: 12px;
  border-top: 1px solid #ccc;
  clear: left;
}

span.resultLbl {
  display: inline-block;
  width: 65px;
}

span.resultDmg {
  display: inline-block;
  width: 80px;
  color: #333;
  border: 1px solid #888;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
  text-align:right;
}

.frame-selected {
  border: 2px solid red !important;
}

.frame-selectable {
  border: 1px solid brown;
  margin-right: 5px;
  cursor: pointer;
}

.frame-noselect {
  border: 2px solid black;
  margin-right: 5px;
}

/* overlay to disable item */
.overlay-disable {
  background: rgba(0,0,0,0.5);
  display: inline-block;
  width: 100%;
  height: 100%;
}

.frame-red {
  border: 1px solid red;
}

.frame-orange {
  border: 1px solid orange;
}

.frame-blue {
  border: 1px solid #4444cc;
}

.frame-dark {
  border: 1px solid #666;
}

.frame-face {
  border: 2px solid blue;
}

span.absInside {
  position: relative;
}

.itemLvTxt {
  position: absolute;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: 11px;
  top: 0px;
  right: 2px
}

.relicLvTxt {
  position: absolute;
  color: black;
  font-family: monospace;
  font-weight: bold;
  font-size: 11px;
  top: 0px;
  right: 2px;
}

/* sprite image */
.magic {
  display: inline-block;
  background: url('imgs/magic.jpg') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}

.passive {
  display: inline-block;
  background: url('imgs/passive.jpg') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}

.artifact {
  display: inline-block;
  background: url('imgs/artifact.jpg') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}

.relic {
  display: inline-block;
  background: url('imgs/relic.png') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}

.condition {
  display: inline-block;
  background: url('imgs/condition.jpg') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}

.tech {
  display: inline-block;
  background: url('imgs/tech.jpg') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}

.relationImg {
  display: inline-block;
  background: url('imgs/relation.png') no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}

.jointImg {
  display: inline-block;
  background: url('imgs/joint.png'), rgba(200,200,20,.2) no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}

.attackImg {
  display: inline-block;
  background: url('imgs/attack.png'), rgba(200,200,20,.2) no-repeat;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}

.face {
  display: inline-block;
  background: url('imgs/face.jpg') no-repeat;
  width: 80px;
  height: 82px;
  overflow: hidden;
  transform-origin: 0 0;
}

span.face-mini {
  display: inline-block;
  width: 40px;
  height: 41px;
  overflow: hidden;
}

span.face-mini span {
  transform: scale(0.5);
}

span.icon-pretxt {
  float: left;
  padding-right: 2px;
}

span.icon30 {
  display: inline-block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  overflow: hidden;
}

span.icon30 span {
  transform: scale(0.75);
}

span.icon20 {
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  overflow: hidden;
}

span.icon20 span {
  transform: scale(0.5);
}

.heroName {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  vertical-align: middle;
}

label.attrName {
  display: inline-block;
  width: 45px;
  text-align: right;
}

span.attrVal {
  display: inline-block;
  width: 35px;
  text-align: right;
}

span.statVal {
  display: inline-block;
  width: 45px;
  text-align: right;
}

.floating {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9;
  left: 0;
  top: 0;
  padding: 0 1px 1px;
  background-color: rgba(0,0,0,0.7);
  vertical-align: top;
}

.formationBtn {
  line-height: 12px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}

.trainingBtn {
  padding: 0px;
  font-size: 12px;
  line-height: 10px;
  width: 61px;
}

.smallText {
  line-height: 12px;
  font-size: 12px;
}

button.battleOpt {
  width:120px;
  line-height:12px;
  font-size:12px;
}

.terrainSel {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
}

.miniIcons-container {
  display: inline-block;
  height: 22px;
  width: 132px;  /* 6 is enough */
  background-color: #fffacd;
}

/* for increasing/decreasing slider value */
.arrowBtn {
  padding: 0;
  font-size: 0.8em;
  line-height: 0.7em;
  width: 25px;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 0.4em;
  margin: 0;
  border-radius: 2px;  
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.hpBar {
  height: 1em;
  width: 100%;
  background-color: #c9c9c9;
  border: 1px solid black;
  position: relative;
}
.hpBar:before {
  content: attr(data-label);
  font-size: 0.7em;
  position: absolute;
  text-align: center;
  top: 1px;
  left: 0;
  right: 0;
}
.hpBar .hpVal {
  background-color: #00ff2f;
  display: inline-block;
  height: 100%;
}
.hpBar .mpVal {
  background-color: #40c0ff;
  display: inline-block;
  height: 100%;
}
.hpBar .epVal {
  background-color: gold;
  display: inline-block;
  height: 100%;
}

.inputStat {
  width: 60px;
}

button.custom {
  color: #bbb;
  border: none;
  outline:none;
  cursor: pointer;
}

span.iconInactive {
  box-shadow:inset 0 0 0 20px rgba(10,10,10,0.7);
}

.relationBlock {
  width: 1000px;
  max-width: 1000px;
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.relationName {
  flex-basis: 800px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: #fffacd;
  padding-left: 5px;
}

.relationString {
  flex-basis: 189px;
  border-bottom: 1px solid black;
  background-color: #fffacd;
  padding: 1px 0 0 5px;
}

.relationUnits {
  flex-basis: 220px;
  border-right: 1px solid black;
  padding: 2px 2px 0 2px;
}

.relationStats {
  flex-basis: 80px;
  border-right: 1px solid black;
  padding: 2px 2px 0 2px;
}

.relationPassives {
  flex-basis: 686px;
  padding: 2px 2px 0 2px;
}

.relationPassives table {
  border-collapse: collapse;
  width: 100%;
}

.relationPassives table td {
  vertical-align: top;
  padding: 0 0 0 0;
  font-size: 14px;
}

td.relationPTxt {
  padding: 0 5px 0 2px !important;
  width: 250px;
}

td.relationTrigger {
  padding-left: 5px !important;
  position: relative;
}

td.relationTrigger:after {
  content:"";
  background: black;
  position: absolute;
  top: 5%;
  left: 0;
  height: 90%;
  width: 1px;
}

/* Customize the label (the container) */
.chkBoxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.chkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chkBoxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chkBoxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chkBoxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chkBoxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
